<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Wednesday 18 January 2023 at 19:02:38 Greenwich Mean Time</string>
			<key>fullDate</key>
			<date>2023-01-18T19:02:38Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/peteburquette/Documents/Code/Portfolio/ambient_power_native/design/pexels/NightWavesAndSunOut.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>ehUdGvBlRweCRbwvka3mng - 2023-01-18 19:00:44 +0000</string>
		</dict>
	</array>
</dict>
</plist>
